openapi: 3.0.3

info:
  title: Uranus API
  description: API for the Uranus / kulturbytes platform.
  version: '1.0'

servers:
  - url: https://api.kulturbytes.de
  - url: http://localhost:9090

paths:
  /api/choosable-venues:
    get:
      summary: Get choosable venues
      description: Returns venues matching the optional name and geographic filters.
      operationId: getChoosableVenues

      parameters:
        - name: name
          in: query
          required: false
          description: >-
            Case-insensitive name search. An asterisk (`*`) at the beginning and/or end
            acts as a wildcard, e.g. `Kultur*` (starts with), `*haus` (ends with), or
            `*kultur*` (contains).
          schema:
            type: string
            example: Kulturhaus

        - name: lat
          in: query
          required: false
          description: Latitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
            example: 54.7937

        - name: lon
          in: query
          required: false
          description: Longitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
            example: 9.4469

        - name: radius
          in: query
          required: false
          description: Search radius around the specified latitude and longitude, in meters.
          schema:
            type: number
            format: double
            minimum: 0
            example: 10

      responses:
        '200':
          description: Venues successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of matching venues.
                        items:
                          $ref: '#/components/schemas/Venue'
                      metadata:
                        $ref: '#/components/schemas/ChoosableVenuesMetadata'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venues
                status: 200
                timestamp: '2026-09-20T12:00:00Z'
                metadata:
                  venue_count: 3
                  response_time_ms: 15
                data:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    scope: shared
                    name: Kulturzentrum
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    scope: shared
                    name: Stadthalle
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 7c9e6679-7425-40de-944b-e07fc1f90ae7
                    scope: organization
                    name: Kulturhaus
                    city: Glücksburg
                    state: Schleswig-Holstein
                    country: DE

        '500':
          description: Database or internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venues
                status: 500
                timestamp: '2026-09-20T12:00:00Z'
                metadata:
                  response_time_ms: 8
                data: null
                message: Database error.

components:
  schemas:

    Venue:
      type: object
      description: A selectable venue.
      properties:
        uuid:
          type: string
          format: uuid
          description: Unique identifier of the venue.
          example: 550e8400-e29b-41d4-a716-446655440000
        scope:
          type: string
          description: Scope defining the ownership or visibility of the venue.
          example: shared
        name:
          type: string
          nullable: true
          description: Name of the venue.
          example: Kulturzentrum
        city:
          type: string
          nullable: true
          description: City in which the venue is located.
          example: Flensburg
        state:
          type: string
          nullable: true
          description: State or administrative region in which the venue is located.
          example: Schleswig-Holstein
        country:
          type: string
          nullable: true
          description: Country code of the venue.
          example: DE
      required:
        - uuid
        - scope
        - name
      additionalProperties: false

    ChoosableVenuesMetadata:
      type: object
      description: Metadata returned with the list of venues.
      properties:
        venue_count:
          type: integer
          description: Number of venues matching the requested filters.
          minimum: 0
          example: 3
        response_time_ms:
          type: integer
          description: Time required to generate the response in milliseconds.
          minimum: 0
          example: 15
      required:
        - venue_count
        - response_time_ms
      additionalProperties: false

    ResponseEnvelope:
      type: object
      description: Common response envelope used by the API.
      properties:
        service:
          type: string
          description: Name of the API service.
          example: Uranus API
        api_version:
          type: string
          description: API version.
          example: '1.0'
        response_type:
          type: string
          description: Identifier of the response type.
          example: get-choosable-venues
        status:
          type: integer
          description: HTTP status code of the response.
          example: 200
        timestamp:
          type: string
          format: date-time
          description: Time at which the response was generated.
          example: '2026-09-20T12:00:00Z'
        metadata:
          type: object
          description: Response metadata.
        data:
          nullable: true
          description: Response payload.
        message:
          type: string
          description: Human-readable response message.
          example: Database error.
      required:
        - service
        - api_version
        - response_type
        - status
        - timestamp
      additionalProperties: false

    ResponseEnvelope200:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelope'
        - type: object
          properties:
            status:
              type: integer
              enum:
                - 200
              example: 200

    ResponseEnvelope500:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelope'
        - type: object
          properties:
            status:
              type: integer
              enum:
                - 500
              example: 500