openapi: 3.0.3

info:
  title: Uranus API
  description: |
    API for the Uranus / kulturbytes platform.

    Public event API for Uranus.

    The event endpoints are public and support filtering, pagination,
    calendar views, summaries, and GeoJSON venue output.
  version: '1.0'

servers:
  - url: https://api.kulturbytes.de
  - url: http://localhost:9090


tags:
  - name: Events
    description: Event search, filtering, calendar and geographic endpoints

paths:
  /api/event/{eventUuid}:
    get:
      tags:
        - Events
      summary: Get an event
      description: Returns a single event. Selects the earliest date on or after today in the
        server local timezone (including dates earlier today). If no such date exists, selects
        the latest past date. The selected date is returned in date and the remaining dates
        in further_dates. If the event has no dates, both fields are omitted. Public access
        is limited to released, cancelled, deferred and rescheduled events. If the request context
        contains a user with edit, delete, release or insights permissions for the event organizer,
        draft and review events are also allowed.
      operationId: getEvent
      parameters:
        - name: eventUuid
          in: path
          required: true
          description: Event UUID.
          schema:
            type: string
            format: uuid
        - name: lang
          in: query
          required: false
          description: Language used for localized type, genre, license and accessibility labels.
          schema:
            type: string
            default: en
            example: en
      responses:
        '200':
          description: Event successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse200'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-event
                status: 200
                timestamp: '2026-09-21T10:00:00Z'
                metadata:
                  response_time_ms: 12
                data:
                  uuid: 01996f4a-7c00-7000-8000-000000000001
                  release_status: released
                  content_language: en
                  title: Evening concert
                  org_uuid: 01996f4a-7c00-7000-8000-000000000002
                  org_name: Kulturbytes
                  org_logos: {}
                  date_match: false
                  date:
                    uuid: 01996f4a-7c00-7000-8000-000000000003
                    slug: '202609301930'
                    event_uuid: 01996f4a-7c00-7000-8000-000000000001
                    release_status: released
                    start_date: '2026-09-30'
                    start_time: '19:30'
                    venue_uuid: null
                    venue_logos: {}
        '500':
          description: Internal server error. This handler also returns 500 when the event does
            not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse500'
  /api/event/{eventUuid}/date/{dateIdentifier}:
    get:
      tags:
        - Events
      summary: Get an event by date
      description: Returns an event with the requested date selected. If the identifier cannot
        be resolved or the date does not belong to the event, uses the default date selection.
        Selects the earliest date on or after today in the server local timezone (including
        dates earlier today). If no such date exists, selects the latest past date. The selected
        date is returned in date and the remaining dates in further_dates. If the event has
        no dates, both fields are omitted. Public access is limited to released, cancelled,
        deferred and rescheduled events. If the request context contains a user with edit, delete,
        release or insights permissions for the event organizer, draft and review events are
        also allowed.
      operationId: getEventByDate
      parameters:
        - name: eventUuid
          in: path
          required: true
          description: Event UUID.
          schema:
            type: string
            format: uuid
        - name: dateIdentifier
          in: path
          required: true
          description: Event date UUIDv7 or a date slug in YYYYMMDDHHMM format. An unresolved
            identifier falls back to the default date selection.
          schema:
            type: string
            example: '202609301930'
        - name: lang
          in: query
          required: false
          description: Language used for localized type, genre, license and accessibility labels.
          schema:
            type: string
            default: en
            example: en
      responses:
        '200':
          description: Event successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByDateResponse200'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-event-by-date
                status: 200
                timestamp: '2026-09-21T10:00:00Z'
                metadata:
                  response_time_ms: 12
                  event_uuid: 01996f4a-7c00-7000-8000-000000000001
                  date_identifier: '202609301930'
                  lang: en
                  event_date_count: 1
                data:
                  uuid: 01996f4a-7c00-7000-8000-000000000001
                  release_status: released
                  content_language: en
                  title: Evening concert
                  org_uuid: 01996f4a-7c00-7000-8000-000000000002
                  org_name: Kulturbytes
                  org_logos: {}
                  date_match: true
                  date:
                    uuid: 01996f4a-7c00-7000-8000-000000000003
                    slug: '202609301930'
                    event_uuid: 01996f4a-7c00-7000-8000-000000000001
                    release_status: released
                    start_date: '2026-09-30'
                    start_time: '19:30'
                    venue_uuid: null
                    venue_logos: {}
        '400':
          description: A required event or date identifier is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByDateResponse400'
        '404':
          description: Event not found or not visible to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByDateResponse404'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByDateResponse500'

  /api/event/category-lookup:
    get:
      tags:
        - Events
      summary: Get event category lookup
      description: >-
        Returns event categories grouped by language and category ID. The
        optional lang parameter can contain a comma-separated list of ISO 639-1
        language codes.
      operationId: getEventCategoryLookup

      parameters:
        - name: lang
          in: query
          required: false
          description: >-
            Comma-separated list of ISO 639-1 language codes used to filter the
            returned categories, e.g. "de,en,da". If omitted or empty, all
            available languages are returned.
          schema:
            type: string
            example: de,en,da

      responses:
        '200':
          description: Event category lookup successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EventCategoryLookupResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EventCategoryLookup'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-event-category-lookup
                status: 200
                timestamp: '2026-09-20T13:30:00Z'
                data:
                  da:
                    '1':
                      name: Kultur
                    '2':
                      name: Musik
                    '3':
                      name: Teater
                  de:
                    '1':
                      name: Kultur
                    '2':
                      name: Musik
                    '3':
                      name: Theater
                  en:
                    '1':
                      name: Culture
                    '2':
                      name: Music
                    '3':
                      name: Theatre

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCategoryLookupResponseEnvelope500'

  /api/event/type-genre-lookup:
    get:
      operationId: getEventTypeGenreLookup
      summary: Get event type and genre lookup
      description: Returns event types and their associated genres grouped by language.
      responses:
        '200':
          description: Event type and genre lookup retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventTypeGenreLookupResponse200'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-event-type-genre-lookup
                status: 200
                timestamp: '2026-09-20T13:02:31Z'
                metadata:
                  response_time_ms: 18
                data:
                  da:
                    types:
                      "1":
                        name: Koncert
                        genres:
                          "1001": Elektronisk musik
                          "1002": Rock
                          "1003": Jazz
                          "1004": Metal
                          "1005": R&B
                      "2":
                        name: Teater & scene
                        genres:
                          "2001": Musical
                          "2002": Musikteater
                          "2003": Cirkusteater
                          "2004": Drama
                          "2005": Komedie
                      "3":
                        name: Party
                        genres:
                          "3001": Trance
                          "3002": Edm
                          "3003": Drum and bass
                          "3004": Disco
                          "3005": Dancehall
                      "4":
                        name: Comedy
                        genres:
                          "4001": Stand-up
                          "4002": Kabaret
                          "4003": Satire
                          "4004": Sketch
                          "4005": Parodi
                      "5":
                        name: Børneteater
                        genres:
                          "5001": Dukketeater
                          "5002": Eventyr
                          "5003": Fabel
                          "5004": Klassiker
                          "5005": Klovneteater
                  de:
                    types:
                      "1":
                        name: Konzert
                        genres:
                          "1001": Elektronische Musik
                          "1002": Rock
                          "1003": Jazz
                          "1004": Metal
                          "1005": R&B
                      "2":
                        name: Theater & Bühne
                        genres:
                          "2001": Musical
                          "2002": Musiktheater
                          "2003": Zirkus-Theater
                          "2004": Drama
                          "2005": Komödie
                      "3":
                        name: Party
                        genres:
                          "3001": Trance
                          "3002": EDM
                          "3003": Drum and Bass
                          "3004": Disco
                          "3005": Dancehall
                      "4":
                        name: Comedy
                        genres:
                          "4001": Stand-up
                          "4002": Kabarett
                          "4003": Satire
                          "4004": Sketch
                          "4005": Parodie
                      "5":
                        name: Kindertheater
                        genres:
                          "5001": Puppenspiel
                          "5002": Märchen
                          "5003": Fabel
                          "5004": Klassiker
                          "5005": Clownstheater
                  en:
                    types:
                      "1":
                        name: Concert
                        genres:
                          "1001": Electronic music
                          "1002": Rock
                          "1003": Jazz
                          "1004": Metal
                          "1005": R&B
                      "2":
                        name: Theater & Stage
                        genres:
                          "2001": Musical
                          "2002": Musical theater
                          "2003": Circus theatre
                          "2004": Drama
                          "2005": Comedy
                      "3":
                        name: Party
                        genres:
                          "3001": Trance
                          "3002": Edm
                          "3003": Drum and bass
                          "3004": Disco
                          "3005": Dancehall
                      "4":
                        name: Comedy
                        genres:
                          "4001": Stand-up
                          "4002": Cabaret
                          "4003": Satire
                          "4004": Sketch
                          "4005": Parody
                      "5":
                        name: Children’s Theater
                        genres:
                          "5001": Puppet show
                          "5002": Fairy tale
                          "5003": Fable
                          "5004": Classic
                          "5005": Clown theater
                  fr:
                    types:
                      "1":
                        name: Concert
                        genres:
                          "1001": Musique électronique
                          "1002": Rock
                          "1003": Jazz
                          "1004": Metal
                          "1005": R&B
                      "2":
                        name: Théâtre & scène
                        genres:
                          "2001": Comédie musicale
                          "2002": Théâtre musical
                          "2003": Théâtre de cirque
                          "2004": Drame
                          "2005": Comédie
                      "3":
                        name: Fête
                        genres:
                          "3001": Trance
                          "3002": EDM
                          "3003": Drum and bass
                          "3004": Disco
                          "3005": Dancehall
                      "4":
                        name: Comédie
                        genres:
                          "4001": Stand-up
                          "4002": Cabaret
                          "4003": Satire
                          "4004": Sketch
                          "4005": Parodie
                      "5":
                        name: Théâtre pour enfants
                        genres:
                          "5001": Marionnettes
                          "5002": Conte de fées
                          "5003": Fable
                          "5004": Classique
                          "5005": Théâtre de clowns
                  sv:
                    types:
                      "1":
                        name: Konsert
                        genres:
                          "1001": Elektronisk musik
                          "1002": Rock
                          "1003": Jazz
                          "1004": Metal
                          "1005": R&B
                      "2":
                        name: Teater & scen
                        genres:
                          "2001": Musikal
                          "2002": Musikteater
                          "2003": Cirkusteater
                          "2004": Drama
                          "2005": Komedi
                      "3":
                        name: Fest
                        genres:
                          "3001": Trance
                          "3002": EDM
                          "3003": Drum and bass
                          "3004": Disco
                          "3005": Dancehall
                      "4":
                        name: Komedi
                        genres:
                          "4001": Stand-up
                          "4002": Kabarett
                          "4003": Satir
                          "4004": Sketch
                          "4005": Parodi
                      "5":
                        name: Barnteater
                        genres:
                          "5001": Dockteater
                          "5002": Saga
                          "5003": Fabel
                          "5004": Klassiker
                          "5005": Clownteater

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeGenreLookupResponseEnvelope500'

  /api/choosable-countries:
    get:
      operationId: getChoosableCountries
      summary: Get choosable countries
      description: |
        Returns all countries available for selection.

        Country names are localized according to the requested
        ISO 639-1 language code.

        If no countries are found for the requested language, the endpoint
        still returns HTTP 200 with an empty data array.

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code. Defaults to English.
          schema:
            type: string
            minLength: 2
            maxLength: 2
            default: en
            example: en

      responses:

        '200':
          description: Countries found, or no countries available for the requested language.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableCountriesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of available countries.
                        items:
                          $ref: '#/components/schemas/Country'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-countries
                status: 200
                timestamp: '2026-09-20T09:48:48Z'
                metadata:
                  country_count: 249
                  language: en
                  response_time_ms: 95
                data:
                  - country_code: AFG
                    country_name: Afghanistan
                  - country_code: ALB
                    country_name: Albania
                  - country_code: DZA
                    country_name: Algeria
                  - country_code: ASM
                    country_name: American Samoa
                  - country_code: AND
                    country_name: Andorra

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableCountriesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-countries
                status: 500
                timestamp: '2026-09-20T09:48:48Z'
                metadata:
                  language: en
                  response_time_ms: 95
                data: null
                message: Internal server error
    servers:
    - url: https://api.kulturbytes.de
    - url: https://localhost:9090

  /api/choosable-currencies:
    get:
      summary: Get choosable currencies
      description: Returns the available currencies localized in the requested language.
      operationId: getChoosableCurrencies

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code used for localized currency names.
          schema:
            type: string
            default: en
            minLength: 2
            maxLength: 2
            example: en

      responses:
        '200':
          description: Currencies successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableCurrenciesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Available currencies.
                        items:
                          $ref: '#/components/schemas/Currency'
                      metadata:
                        $ref: '#/components/schemas/ChoosableCurrenciesMetadata'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-currencies
                status: 200
                timestamp: '2026-09-20T10:39:00Z'
                metadata:
                  language: en
                  response_time_ms: 12
                data:
                  - id: EUR
                    name: Euro
                  - id: GBP
                    name: Pound sterling
                  - id: USD
                    name: US Dollar

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableCurrenciesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-currencies
                status: 500
                timestamp: '2026-09-20T10:39:00Z'
                metadata:
                  language: en
                  response_time_ms: 8
                data: null
                message: Internal server error

  /api/choosable-event-occasions:
    get:
      summary: Get choosable event occasions
      description: Returns the available event occasion types localized in the requested language.
      operationId: getChoosableEventOccasions

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code used for localized event occasion names.
          schema:
            type: string
            default: en
            minLength: 2
            maxLength: 2
            example: en

      responses:
        '200':
          description: Event occasion types successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableEventOccasionsResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Available event occasion types.
                        items:
                          $ref: '#/components/schemas/EventOccasionType'
                      metadata:
                        $ref: '#/components/schemas/ChoosableEventOccasionsMetadata'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-event-occasions
                status: 200
                timestamp: '2026-09-20T11:37:00Z'
                metadata:
                  language: en
                  event_occasion_count: 5
                  response_time_ms: 12
                data:
                  - id: '0'
                    name: No specific occasion
                  - id: '1'
                    name: Anniversary
                  - id: '2'
                    name: Festival
                  - id: '3'
                    name: Opening
                  - id: '4'
                    name: Holiday

        '500':
          description: Internal server error while retrieving event occasion types.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableEventOccasionsResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-event-occasions
                status: 500
                timestamp: '2026-09-20T11:37:00Z'
                metadata:
                  language: en
                  response_time_ms: 8
                data: null
                message: Internal server error.

  /api/choosable-languages:
    get:
      operationId: getChoosableLanguages
      summary: Get choosable languages
      description: |
        Returns all languages that can be selected.

        Language names are localized according to the requested
        ISO 639-1 language code.

        If no languages are found for the requested language, the endpoint
        still returns HTTP 200 with an empty data array.

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code used to localize language names.
          schema:
            type: string
            minLength: 2
            maxLength: 2
            default: en
            example: en

      responses:

        '200':
          description: Languages found, or no languages available for the requested language.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLanguagesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of available languages.
                        items:
                          $ref: '#/components/schemas/Language'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-languages
                status: 200
                timestamp: '2026-09-20T10:17:15Z'
                metadata:
                  language: en
                  response_time_ms: 3
                data:
                  - id: da
                    name: Danish
                  - id: de
                    name: German
                  - id: en
                    name: English
                  - id: fr
                    name: French
                  - id: sv
                    name: Swedish

        '400':
          description: Invalid JSON input.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope400'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-languages
                status: 400
                timestamp: '2026-09-20T10:17:15Z'
                metadata:
                  language: en
                  response_time_ms: 3
                data: null
                message: Invalid JSON input

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLanguagesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-languages
                status: 500
                timestamp: '2026-09-20T10:17:15Z'
                metadata:
                  language: en
                  response_time_ms: 3
                data: null
                message: Internal server error

  /api/choosable-legal-forms:
    get:
      operationId: getChoosableLegalForms
      summary: Get choosable legal forms
      description: |
        Returns all legal forms that can be selected for an organization.

        Names and descriptions are localized according to the requested
        ISO 639-1 language code.

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code. Defaults to English.
          schema:
            type: string
            minLength: 2
            maxLength: 2
            default: en
            example: en

      responses:

        '200':
          description: Legal forms found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLegalFormsResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of available legal forms.
                        items:
                          $ref: '#/components/schemas/LegalForm'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-legal-forms
                status: 200
                timestamp: '2026-09-20T09:29:04Z'
                metadata:
                  language: en
                  legal_form_count: 15
                  response_time_ms: 19
                data:
                  - key: civil_law_partnership
                    name: Civil-law Partnership
                    description: null
                  - key: foundation
                    name: Foundation
                    description: null
                  - key: general_partnership
                    name: General Partnership
                    description: null
                  - key: independent_operator
                    name: Independently operated
                    description: null
                  - key: initiative
                    name: Initiative
                    description: null
                  - key: limited
                    name: Limited
                    description: null
                  - key: limited_partnership
                    name: Limited Partnership
                    description: null
                  - key: municipal_administration
                    name: Municipal administration
                    description: null
                  - key: municipal_facility
                    name: Municipal facility
                    description: null
                  - key: non_profit_limited_liability_company
                    name: Non-profit Limited Liability Company
                    description: null
                  - key: not_specified
                    name: Not specified
                    description: null
                  - key: public_law_institution
                    name: Public-law Institution
                    description: null
                  - key: registered_association
                    name: Registered association
                    description: null
                  - key: registered_cooperative
                    name: Registered Cooperative
                    description: null
                  - key: stock_corporation
                    name: Stock Corporation / Joint-stock Company
                    description: null

        '404':
          description: No legal forms found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLegalFormsResponseEnvelope404'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-legal-forms
                status: 404
                timestamp: '2026-09-20T09:29:04Z'
                metadata:
                  language: xx
                  response_time_ms: 1
                data: null
                message: No legal forms found

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLegalFormsResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-legal-forms
                status: 500
                timestamp: '2026-09-20T09:29:04Z'
                metadata:
                  language: en
                  response_time_ms: 19
                data: null
                message: Internal server error

  /api/choosable-license-types:
    get:
      operationId: getChoosableLicenseTypes
      summary: Get choosable license types
      description: |
        Returns all license types that can be selected for content.

        Names and descriptions are localized according to the requested
        ISO 639-1 language code.

      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code. Defaults to English.
          schema:
            type: string
            minLength: 2
            maxLength: 2
            default: en
            example: en

      responses:

        '200':
          description: License types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLicenseTypesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of available license types.
                        items:
                          $ref: '#/components/schemas/LicenseType'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-chooseable-license-types
                status: 200
                timestamp: '2026-09-20T09:45:16Z'
                metadata:
                  language: en
                  license_count: 10
                  response_time_ms: 3
                data:
                  - key: all-rights-reserved
                    name: All Rights Reserved
                    description: null
                  - key: cc-by
                    name: CC BY – Attribution
                    description: null
                  - key: cc-by-nc
                    name: CC BY-NC – Attribution-NonCommercial
                    description: null
                  - key: cc-by-nc-nd
                    name: CC BY-NC-ND – Attribution-NonCommercial-NoDerivatives
                    description: null
                  - key: cc-by-nc-sa
                    name: CC BY-NC-SA – Attribution-NonCommercial-ShareAlike
                    description: null
                  - key: cc-by-nd
                    name: CC BY-ND – Attribution-NoDerivatives
                    description: null
                  - key: cc-by-sa
                    name: CC BY-SA – Attribution-ShareAlike
                    description: null
                  - key: cc0
                    name: CC0 – Public Domain
                    description: null
                  - key: mit
                    name: MIT License
                    description: null
                  - key: pd
                    name: Public Domain
                    description: null

        '404':
          description: No license types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLicenseTypesResponseEnvelope404'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-chooseable-license-types
                status: 404
                timestamp: '2026-09-20T09:45:16Z'
                metadata:
                  language: xx
                  response_time_ms: 1
                data: null
                message: No licenses found

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLicenseTypesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-chooseable-license-types
                status: 500
                timestamp: '2026-09-20T09:45:16Z'
                metadata:
                  language: en
                  response_time_ms: 3
                data: null
                message: Internal server error

  /api/choosable-link-types:
    get:
      operationId: getChoosableLinkTypes
      summary: Get choosable link types
      description: |
        Returns the link types that can be selected for an organization,
        venue, event or other entity.

        The returned names are localized according to the requested
        ISO 639-1 language code.
      parameters:
        - name: lang
          in: query
          required: false
          description: |
            ISO 639-1 language code used for the localized link type names.
            Defaults to English.
          schema:
            type: string
            default: en
            example: en
            minLength: 2
            maxLength: 2
      responses:

        '200':
          description: Link types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableLinkTypesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LinkType'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-link-types
                status: 200
                timestamp: '2026-09-20T08:07:43Z'
                metadata:
                  language: en
                  link_type_count: 15
                  response_time_ms: 3
                data:
                  - key: bandcamp
                    name: Bandcamp
                  - key: facebook
                    name: Facebook
                  - key: instagram
                    name: Instagram
                  - key: artist_website
                    name: Kunstnerens website
                  - key: mastodon
                    name: Mastodon
                  - key: source_website
                    name: Mere info hos arrangøren
                  - key: other
                    name: Other
                  - key: pdf
                    name: PDF
                  - key: soundcloud
                    name: SoundCloud
                  - key: spotify
                    name: Spotify
                  - key: tickets
                    name: Tickets
                  - key: vimeo
                    name: Vimeo
                  - key: website
                    name: Website
                  - key: x
                    name: X
                  - key: youtube
                    name: YouTube
                message: Link types found

        '404':
          description: No link types were found for the requested language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoosableLinkTypesResponseEnvelope404'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-link-types
                status: 404
                timestamp: '2026-09-20T08:07:43Z'
                metadata:
                  language: xx
                  response_time_ms: 2
                message: No link types found

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoosableLinkTypesResponseEnvelope500'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-link-types
                status: 500
                timestamp: '2026-09-20T08:07:43Z'
                metadata:
                  language: en
                  response_time_ms: 3
                message: Internal server error

  /api/choosable-orgs:
    get:
      summary: Get choosable organizations
      description: Returns organizations matching the optional name and geographic filters.
      operationId: getChoosableOrgs

      parameters:
        - name: name
          in: query
          required: false
          description: >-
            Case-insensitive name search. An asterisk (`*`) at the beginning and/or end
            acts as a wildcard. Examples: `Kultur*` (starts with), `*haus` (ends with),
            `*kultur*` (contains).
          schema:
            type: string
            example: Kultur*

        - name: lat
          in: query
          required: false
          description: Latitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
            example: 54.7937

        - name: lon
          in: query
          required: false
          description: Longitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
            example: 9.4469

        - name: radius
          in: query
          required: false
          description: >-
            Search radius around the specified latitude and longitude, in meters.
          schema:
            type: number
            format: double
            minimum: 0
            example: 10000

      responses:
        '200':
          description: Organizations successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableOrgsResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of matching organizations.
                        items:
                          $ref: '#/components/schemas/Organization'
                      metadata:
                        $ref: '#/components/schemas/ChoosableOrgsMetadata'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-orgs
                status: 200
                timestamp: '2026-09-20T12:24:00Z'
                metadata:
                  venue_count: 3
                  response_time_ms: 15
                data:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    name: Kulturzentrum Flensburg
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    name: Kulturverein
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 7c9e6679-7425-40de-944b-e07fc1f90ae7
                    name: Kulturhaus Glücksburg
                    city: Glücksburg
                    state: Schleswig-Holstein
                    country: DE

        '500':
          description: Database or internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableOrgsResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-orgs
                status: 500
                timestamp: '2026-09-20T12:24:00Z'
                metadata:
                  response_time_ms: 8
                data: null
                message: Database error.

  /api/choosable-space-types:
    get:
      operationId: getChoosableSpaceTypes
      summary: Get choosable space types
      description: |
        Returns all space types that can be selected for a space.

        Names and descriptions are localized according to the requested
        ISO 639-1 language code.
      parameters:
        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code. Defaults to English.
          schema:
            type: string
            minLength: 2
            maxLength: 2
            default: en
            example: da

      responses:

        '200':
          description: Space types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableSpaceTypesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SpaceType'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-space-types
                status: 200
                timestamp: '2026-09-20T09:15:55Z'
                metadata:
                  language: da
                  response_time_ms: 2
                  space_type_count: 30
                data:
                  - key: art_studio
                    name: Atelier
                    description: Et arbejdsrum hvor kunstnere skaber, maler eller producerer kunstværker
                  - key: bar
                    name: Bar
                    description: Et lokale eller område i en større venue, hvor der serveres drikkevarer og gæster kan samles socialt
                  - key: community_hall
                    name: Borgerhal
                    description: En offentlig sal til lokale arrangementer, møder samt sociale og kulturelle aktiviteter
                  - key: shop_space
                    name: Butiksrum
                    description: Et butiksrum der også midlertidigt kan bruges til arrangementer, pop-ups eller udstillinger
                  - key: cafe
                    name: Café
                    description: Et uformelt sted der serveres kaffe, lette måltider og drikkevarer, ofte brugt til socialt samvær eller uformelt arbejde
                  - key: meadow
                    name: Eng / Græsareal
                    description: Et åbent græsområde i naturen eller nær naturen, ofte brugt til arrangementer und samlinger
                  - key: lecture_hall
                    name: Forelæsningssal
                    description: Et stort lokale til forelæsninger eller præsentationer
                  - key: foyer
                    name: Foyer
                    description: Et indgangs- eller lobbyområde til ankomst, fordeling og uformelt ophold før eller efter arrangementer
                  - key: open_air_stage
                    name: Friluftsscene
                    description: En udendørs scene til koncerter, teater og livearrangementer
                  - key: garage
                    name: Garage
                    description: Et omdannet eller fleksibelt eventlokale til arrangementer, samlinger, optrædener eller kulturelle aktiviteter
                  - key: group_room
                    name: Gruppelokale
                    description: Et rum designet til gruppearbejde, samarbejde eller fælles læringsaktiviteter
                  - key: courtyard
                    name: Gård
                    description: Et udendørs område omgivet helt eller delvist af bygninger, brugt til ophold, passage eller afslapning
                  - key: garden
                    name: Have
                    description: Et udendørs grønt område til rekreation, afslapning eller dekorativ beplantning
                  - key: playground
                    name: Legeplads
                    description: Et område med legeredskaber og åbne arealer, hvor børn kan lege og være aktive.
                  - key: multifunctional_room
                    name: Multifunktionsrum
                    description: Et fleksibelt rum designet til forskellige formål såsom møder, arrangementer, workshops eller samlinger
                  - key: meeting_room
                    name: Mødelokale
                    description: Et rum designet til møder, diskussioner og mindre gruppeaktiviteter
                  - key: park
                    name: Park
                    description: Et offentligt grønt område i byen eller naturen, egnet til arrangementer og fritid
                  - key: place
                    name: Plads
                    description: Et offentligt åbent område som en byplads, markedsplads eller samlingssted
                  - key: production_hall
                    name: Produktionshal
                    description: En industribygning brugt til fremstilling, montage eller produktionsprocesser
                  - key: restaurant
                    name: Restaurant
                    description: Et offentligt sted hvor mad og drikke tilberedes og serveres for gæster
                  - key: hall
                    name: Sal
                    description: Et stort indendørs rum til samlinger, arrangementer eller generel brug uden fast funktion
                  - key: sports_hall
                    name: Sportshal
                    description: En indendørs hal til sport, træning og sportslige arrangementer
                  - key: sports_field
                    name: Sportsplads
                    description: Et udendørs område til sport og fysisk aktivitet såsom fodbold, atletik eller træning
                  - key: studio
                    name: Studie
                    description: Et fleksibelt arbejdsrum til kreative, medie- eller produktionsaktiviteter såsom optagelse, film eller design
                  - key: living_room
                    name: Stue
                    description: Et boligrum til afslapning, socialt samvær og daglige opholdsaktiviteter
                  - key: theater_hall
                    name: Teatersal
                    description: Et scenelokale til teaterforestillinger, optrædener og scenekunst
                  - key: tent
                    name: Telt
                    description: En midlertidig eller flytbar konstruktion af stof eller lignende materiale, brugt til beskyttelse, arrangementer eller udendørs aktiviteter
                  - key: exhibition_room
                    name: Udstillingsrum
                    description: Et rum til fremvisning af kunstværker, genstande eller informative udstillinger for besøgende
                  - key: workshop
                    name: Værksted
                    description: Et arbejdsrum hvor håndværk, reparationer eller teknisk arbejde udføres
                  - key: rehearsal_room
                    name: Øvelokale
                    description: Et lokale hvor musikere, skuespillere eller grupper øver og forbereder sig til optrædener

        '404':
          description: No space types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableSpaceTypesResponseEnvelope404'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-space-types
                status: 404
                timestamp: '2026-09-20T09:15:55Z'
                metadata:
                  language: xx
                  response_time_ms: 1
                message: No space types found

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableSpaceTypesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-space-types
                status: 500
                timestamp: '2026-09-20T09:15:55Z'
                metadata:
                  language: da
                  response_time_ms: 2
                message: Internal server error

  /api/choosable-states:
    get:
      operationId: getChoosableStates
      summary: Get choosable states
      description: |
        Returns all states or administrative regions for the specified country.

        State names are returned according to the data stored for the country.
        The country is selected using its country code.

        If no states are found for the specified country, the endpoint
        returns HTTP 200 with an empty data array.

      parameters:
        - name: country-code
          in: query
          required: false
          description: |
            Country code used to select the states or administrative regions.
            Defaults to an empty string.
          schema:
            type: string
            default: ''
            example: DEU

      responses:

        '200':
          description: States found, or no states available for the specified country.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableStatesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of states or administrative regions.
                        items:
                          $ref: '#/components/schemas/State'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: choosable-states
                status: 200
                timestamp: '2026-09-20T10:09:03Z'
                metadata:
                  country_code: DEU
                  state_count: 16
                  response_time_ms: 3
                data:
                  - state_code: BW
                    state_name: Baden-Württemberg
                  - state_code: BY
                    state_name: Bayern
                  - state_code: BE
                    state_name: Berlin
                  - state_code: BB
                    state_name: Brandenburg
                  - state_code: HB
                    state_name: Bremen

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableStatesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: choosable-states
                status: 500
                timestamp: '2026-09-20T10:09:03Z'
                metadata:
                  country_code: DEU
                  response_time_ms: 3
                data: null
                message: Internal server error

  /api/choosable-venue-types:
    get:
      operationId: getChoosableVenueTypes
      summary: Get choosable venue types
      description: |
        Returns all venue types that can be selected for a venue.

        The venue type names and descriptions are localized according
        to the requested ISO 639-1 language code.
      parameters:
        - name: lang
          in: query
          required: false
          description: |
            ISO 639-1 language code used for localized venue type names
            and descriptions. Defaults to English.
          schema:
            type: string
            default: en
            minLength: 2
            maxLength: 2
            example: da

      responses:

        '200':
          description: Venue types found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableVenueTypesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/VenueType'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venue-types
                status: 200
                timestamp: '2026-09-20T09:03:41Z'
                metadata:
                  language: da
                  response_time_ms: 1
                  venue_type_count: 35
                data:
                  - key: arena
                    name: Arena
                    description: null
                  - key: bar_or_pub
                    name: Bar
                    description: null
                  - key: library
                    name: Bibliotek
                    description: null
                  - key: movie_theater
                    name: Biograf
                    description: null
                  - key: city_district
                    name: Bydel
                    description: Et afgrænset område i en by, såsom en bydel eller kvarter.
                  - key: coworking_space
                    name: Coworking Space
                    description: null
                  - key: event_house
                    name: Eventhus
                    description: null
                  - key: club_house
                    name: Foreningshus
                    description: null
                  - key: hall
                    name: Hal
                    description: null
                  - key: hotel
                    name: Hotel
                    description: null
                  - key: municipal_facility
                    name: Kommunal institution
                    description: null
                  - key: concert_hall
                    name: Koncertsal
                    description: null
                  - key: conference_center
                    name: Konferencecenter
                    description: null
                  - key: cultural_center
                    name: Kulturcenter
                    description: null
                  - key: art_gallery
                    name: Kunstgalleri
                    description: null
                  - key: playground
                    name: Legeplads
                    description: Et offentligt eller privat sted med legeredskaber og områder til børns leg og aktivitet.
                  - key: makerspace
                    name: Makerspace/Fab Lab
                    description: null
                  - key: media_institution
                    name: Medieinstitution
                    description: null
                  - key: exhibition_hall
                    name: Messehal
                    description: null
                  - key: museum
                    name: Museum/Udstilling
                    description: null
                  - key: music_school
                    name: Musikskole
                    description: null
                  - key: night_club
                    name: Natklub
                    description: null
                  - key: park
                    name: Park
                    description: En offentlig eller privat park til rekreation, fritid, natur eller udendørs arrangementer.
                  - key: public_place
                    name: Plads
                    description: null
                  - key: food_establishment
                    name: Restaurant/Bar/Café
                    description: null
                  - key: sacred_space
                    name: Sakralrum/Kirke
                    description: null
                  - key: school
                    name: Skole
                    description: null
                  - key: castle
                    name: Slot
                    description: En historisk befæstet eller repræsentativ bygning, ofte brugt til kulturelle arrangementer
                  - key: sports_hal
                    name: Sportshal
                    description: null
                  - key: beach
                    name: Strand
                    description: null
                  - key: theatre
                    name: Teater
                    description: null
                  - key: educational_institution
                    name: Uddannelsesinstitution
                    description: null
                  - key: outdoor_area
                    name: Udendørsområde/Scene
                    description: null
                  - key: youth_center
                    name: Ungdomshus
                    description: null
                  - key: workshop
                    name: Værksted
                    description: null

        '404':
          description: No venue types were found for the requested language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoosableVenueTypesResponseEnvelope404'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venue-types
                status: 404
                timestamp: '2026-09-20T09:03:41Z'
                metadata:
                  language: xx
                  response_time_ms: 1
                message: No venue types found

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoosableVenueTypesResponseEnvelope500'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venue-types
                status: 500
                timestamp: '2026-09-20T09:03:41Z'
                metadata:
                  language: da
                  response_time_ms: 1
                message: Internal server error

  /api/choosable-venues:
    get:
      summary: Get choosable venues
      description: Returns venues matching the optional name and geographic filters.
      operationId: getChoosableVenues

      parameters:
        - name: name
          in: query
          required: false
          description: >-
            Case-insensitive name search. An asterisk (`*`) at the beginning and/or end
            acts as a wildcard, e.g. `Kultur*` (starts with), `*haus` (ends with), or
            `*kultur*` (contains).
          schema:
            type: string
            example: Kulturhaus

        - name: lat
          in: query
          required: false
          description: Latitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
            example: 54.7937

        - name: lon
          in: query
          required: false
          description: Longitude of the center point for the geographic search.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
            example: 9.4469

        - name: radius
          in: query
          required: false
          description: Search radius around the specified latitude and longitude, in meters.
          schema:
            type: number
            format: double
            minimum: 0
            example: 10

      responses:
        '200':
          description: Venues successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableVenuesResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of matching venues.
                        items:
                          $ref: '#/components/schemas/Venue'
                      metadata:
                        $ref: '#/components/schemas/ChoosableVenuesMetadata'
                    required:
                      - data
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venues
                status: 200
                timestamp: '2026-09-20T12:00:00Z'
                metadata:
                  venue_count: 3
                  response_time_ms: 15
                data:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    scope: shared
                    name: Kulturzentrum
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    scope: shared
                    name: Stadthalle
                    city: Flensburg
                    state: Schleswig-Holstein
                    country: DE
                  - uuid: 7c9e6679-7425-40de-944b-e07fc1f90ae7
                    scope: organization
                    name: Kulturhaus
                    city: Glücksburg
                    state: Schleswig-Holstein
                    country: DE

        '500':
          description: Database or internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ChoosableVenuesResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-choosable-venues
                status: 500
                timestamp: '2026-09-20T12:00:00Z'
                metadata:
                  response_time_ms: 8
                data: null
                message: Database error.

  /api/event/release-status-i18n:
    get:
      tags:
        - Events
      summary: Get event release status translations
      description: |
        Returns the localized names of all event release statuses for the
        requested languages.

        Multiple languages can be requested as a comma-separated list.
        If no language is specified, English (`en`) is used.

        The response contains:
        - `i18n`: translations grouped by ISO 639-1 language code
        - `order`: the ordered list of event release status keys
      operationId: getEventReleaseStatusI18n

      parameters:
        - name: lang
          in: query
          required: false
          description: |
            Comma-separated list of ISO 639-1 language codes.
            The default language is `en`.
          schema:
            type: string
            default: en
            example: de,da,en

      responses:
        '200':
          description: |
            HTTP 200 OK — event release status translations were retrieved
            successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReleaseStatusI18nResponse'

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: event-release-status-i18n
                status: 200
                timestamp: '2026-09-20T09:44:00+02:00'
                metadata:
                  languages: de,da,en
                  response_time_ms: 8
                message: ''
                data:
                  i18n:
                    de:
                      draft: Entwurf
                      review: Prüfung
                      released: Veröffentlicht
                      cancelled: Abgesagt
                      deferred: Verschoben
                      rescheduled: Neu terminiert
                    da:
                      draft: Kladde
                      review: Gennemgang
                      released: Udgivet
                      cancelled: Aflyst
                      deferred: Udskudt
                      rescheduled: Omlagt
                    en:
                      draft: Draft
                      review: Review
                      released: Released
                      cancelled: Cancelled
                      deferred: Deferred
                      rescheduled: Rescheduled
                  order:
                    - draft
                    - review
                    - released
                    - cancelled
                    - deferred
                    - rescheduled

        '500':
          description: |
            HTTP 500 Internal Server Error — the event release status
            translations could not be retrieved from the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReleaseStatusI18nResponseEnvelope500'
    servers:
    - url: https://api.kulturbytes.de
      description: Production
    - url: http://localhost:9090
      description: Local development

  /api/events:
    get:
      tags: [Events]
      summary: Get events
      description: |
        Returns events matching the supplied filters.

        GET query parameters are validated by the API.<br>
        Unknown query parameters result in a bad-request response.<br>
        Array-valued filters are supplied as comma-separated values.
      operationId: getEvents
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Start'
        - $ref: '#/components/parameters/End'
        - $ref: '#/components/parameters/Time'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/SpaceTypes'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PostalCode'
        - $ref: '#/components/parameters/Title'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/EventTypes'
        - $ref: '#/components/parameters/Genres'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Accessibility'
        - $ref: '#/components/parameters/VisitorInfos'
        - $ref: '#/components/parameters/Age'
        - $ref: '#/components/parameters/Price'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/LastEventStartAt'
        - $ref: '#/components/parameters/LastEventDateUuid'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/WeekStart'
        - $ref: '#/components/parameters/OrgUuids'
        - $ref: '#/components/parameters/VenueUuids'
        - $ref: '#/components/parameters/SpaceUuids'
        - $ref: '#/components/parameters/EventUuids'
        - $ref: '#/components/parameters/GeolistRegion'
        - $ref: '#/components/parameters/Portal'
      responses:
        '200':
          description: Events returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/events/filter:
    post:
      tags: [Events]
      summary: Get events using JSON payload for filtering
      description: |
        Returns events matching the supplied JSON filter object.

        Unknown JSON properties are ignored by the current implementation.
        Array-valued properties are represented as JSON arrays.
      operationId: filterEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventFilterRequest'
      responses:
        '200':
          description: Events returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/events/week:
    get:
      tags: [Events]
      summary: Get events for a week
      description: |
        Returns events grouped by day. week_start is required and must use
        YYYY-MM-DD format. The endpoint computes the week end as week_start
        plus six days.
      operationId: getEventsWeek
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Start'
        - $ref: '#/components/parameters/End'
        - $ref: '#/components/parameters/Time'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/SpaceTypes'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PostalCode'
        - $ref: '#/components/parameters/Title'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/EventTypes'
        - $ref: '#/components/parameters/Genres'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Accessibility'
        - $ref: '#/components/parameters/VisitorInfos'
        - $ref: '#/components/parameters/Age'
        - $ref: '#/components/parameters/Price'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/LastEventStartAt'
        - $ref: '#/components/parameters/LastEventDateUuid'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/WeekStartRequired'
        - $ref: '#/components/parameters/OrgUuids'
        - $ref: '#/components/parameters/VenueUuids'
        - $ref: '#/components/parameters/SpaceUuids'
        - $ref: '#/components/parameters/EventUuids'
        - $ref: '#/components/parameters/GeolistRegion'
        - $ref: '#/components/parameters/Portal'
      responses:
        '200':
          description: Week data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsWeekResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/events/type-summary:
    get:
      tags: [Events]
      summary: Get event type and genre summary
      description: |
        Returns aggregate counts for event types and genres matching the
        supplied filters. The limit and offset parameters are accepted by
        the filter parser but are ignored by this endpoint.
      operationId: getEventTypeSummary
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Start'
        - $ref: '#/components/parameters/End'
        - $ref: '#/components/parameters/Time'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/SpaceTypes'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PostalCode'
        - $ref: '#/components/parameters/Title'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/EventTypes'
        - $ref: '#/components/parameters/Genres'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Accessibility'
        - $ref: '#/components/parameters/VisitorInfos'
        - $ref: '#/components/parameters/Age'
        - $ref: '#/components/parameters/Price'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/LastEventStartAt'
        - $ref: '#/components/parameters/LastEventDateUuid'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/WeekStart'
        - $ref: '#/components/parameters/OrgUuids'
        - $ref: '#/components/parameters/VenueUuids'
        - $ref: '#/components/parameters/SpaceUuids'
        - $ref: '#/components/parameters/EventUuids'
        - $ref: '#/components/parameters/GeolistRegion'
        - $ref: '#/components/parameters/Portal'
      responses:
        '200':
          description: Summary returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/events/venue-summary:
    get:
      tags: [Events]
      summary: Get venue summary
      description: |
        Returns event-date counts grouped by venue. The limit and offset
        parameters are accepted by the filter parser but are ignored by
        this endpoint.
      operationId: getEventVenueSummary
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Start'
        - $ref: '#/components/parameters/End'
        - $ref: '#/components/parameters/Time'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/SpaceTypes'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PostalCode'
        - $ref: '#/components/parameters/Title'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/EventTypes'
        - $ref: '#/components/parameters/Genres'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Accessibility'
        - $ref: '#/components/parameters/VisitorInfos'
        - $ref: '#/components/parameters/Age'
        - $ref: '#/components/parameters/Price'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/LastEventStartAt'
        - $ref: '#/components/parameters/LastEventDateUuid'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/WeekStart'
        - $ref: '#/components/parameters/OrgUuids'
        - $ref: '#/components/parameters/VenueUuids'
        - $ref: '#/components/parameters/SpaceUuids'
        - $ref: '#/components/parameters/EventUuids'
        - $ref: '#/components/parameters/GeolistRegion'
        - $ref: '#/components/parameters/Portal'
      responses:
        '200':
          description: Summary returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventVenueSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/events/geojson:
    get:
      tags: [Events]
      summary: Get event venues as GeoJSON
      description: |
        Returns venues with matching events as a GeoJSON FeatureCollection.
        Geometry coordinates are [longitude, latitude].

        Venues for which valid point geometry cannot be produced are skipped.
        If no venues are found, the API returns 204 No Content.
      operationId: getEventsGeoJSON
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Start'
        - $ref: '#/components/parameters/End'
        - $ref: '#/components/parameters/Time'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/SpaceTypes'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PostalCode'
        - $ref: '#/components/parameters/Title'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/EventTypes'
        - $ref: '#/components/parameters/Genres'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Accessibility'
        - $ref: '#/components/parameters/VisitorInfos'
        - $ref: '#/components/parameters/Age'
        - $ref: '#/components/parameters/Price'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/LastEventStartAt'
        - $ref: '#/components/parameters/LastEventDateUuid'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/WeekStart'
        - $ref: '#/components/parameters/OrgUuids'
        - $ref: '#/components/parameters/VenueUuids'
        - $ref: '#/components/parameters/SpaceUuids'
        - $ref: '#/components/parameters/EventUuids'
        - $ref: '#/components/parameters/GeolistRegion'
        - $ref: '#/components/parameters/Portal'
      responses:
        '200':
          description: GeoJSON FeatureCollection returned successfully.
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJSONFeatureCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJSONFeatureCollection'
        '204':
          description: No venues found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.kulturbytes.de
      description: Production API
    - url: http://localhost:9090
      description: Local API

  /api/server/info:
    get:
      tags:
        - Server
      summary: Get server information
      description: |
        Returns the current server status, database status, and server uptime.

        The database connection is checked with a timeout of 3 seconds.
        If the database check fails, HTTP 503 Service Unavailable is returned.
      operationId: getServerInfo

      responses:
        '200':
          description: |
            HTTP 200 OK — the server is operational and the database
            connection check succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfoResponse'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-server-info
                status: 200
                timestamp: '2026-09-20T09:26:00+02:00'
                metadata:
                  response_time_ms: 12
                message: ''
                data:
                  status: ok
                  database: ok
                  uptime: 86400

        '503':
          description: |
            HTTP 503 Service Unavailable — the server is running,
            but the database connection check failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfoResponse'
              example:
                service: Uranus API
                api_version: '1.0'
                response_type: get-server-info
                status: 503
                timestamp: '2026-09-20T09:26:00+02:00'
                metadata:
                  response_time_ms: 3010
                message: ''
                data:
                  status: error
                  database: error
                  uptime: 86400

        '500':
          description: |
            HTTP 500 Internal Server Error — server information
            could not be retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfoResponseEnvelope'
    servers:
    - url: https://api.kulturbytes.de
      description: Production
    - url: https://localhost:9090

components:

  schemas:

    EventDetailsMetadata:
      type: object
      properties:
        response_time_ms:
          type: integer
          format: int64
          minimum: 0
      required:
        - response_time_ms
      additionalProperties: true
    EventDetailsResponseEnvelope:
      type: object
      properties:
        service:
          type: string
          example: Uranus API
        api_version:
          type: string
          example: '1.0'
        response_type:
          type: string
          enum:
            - get-event
            - get-event-by-date
        status:
          type: integer
        timestamp:
          type: string
          format: date-time
        metadata:
          $ref: '#/components/schemas/EventDetailsMetadata'
        message:
          type: string
      required:
        - service
        - api_version
        - response_type
        - status
        - timestamp
        - metadata
    GetEventResponse200:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event
            status:
              type: integer
              enum:
                - 200
            data:
              $ref: '#/components/schemas/EventDetails'
          required:
            - data
    GetEventResponse500:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event
            status:
              type: integer
              enum:
                - 500
          required:
            - message
    GetEventByDateResponse200:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event-by-date
            status:
              type: integer
              enum:
                - 200
            data:
              $ref: '#/components/schemas/EventDetails'
            metadata:
              allOf:
                - $ref: '#/components/schemas/EventDetailsMetadata'
                - type: object
                  properties:
                    event_uuid:
                      type: string
                      format: uuid
                    date_identifier:
                      type: string
                    lang:
                      type: string
                      example: en
                    event_date_count:
                      type: integer
                      minimum: 1
                      description: Number of further dates plus one, including when no selected
                        date exists.
                  required:
                    - event_uuid
                    - date_identifier
                    - lang
                    - event_date_count
          required:
            - data
    GetEventByDateResponse400:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event-by-date
            status:
              type: integer
              enum:
                - 400
            metadata:
              allOf:
                - $ref: '#/components/schemas/EventDetailsMetadata'
                - type: object
                  properties:
                    event_uuid:
                      type: string
                      format: uuid
                    date_identifier:
                      type: string
                    lang:
                      type: string
                      example: en
                    event_date_count:
                      type: integer
                      minimum: 1
                      description: Number of further dates plus one, including when no selected
                        date exists.
          required:
            - message
    GetEventByDateResponse404:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event-by-date
            status:
              type: integer
              enum:
                - 404
            metadata:
              allOf:
                - $ref: '#/components/schemas/EventDetailsMetadata'
                - type: object
                  properties:
                    event_uuid:
                      type: string
                      format: uuid
                    date_identifier:
                      type: string
                    lang:
                      type: string
                      example: en
                    event_date_count:
                      type: integer
                      minimum: 1
                      description: Number of further dates plus one, including when no selected
                        date exists.
                  required:
                    - event_uuid
                    - date_identifier
                    - lang
          required:
            - message
    GetEventByDateResponse500:
      allOf:
        - $ref: '#/components/schemas/EventDetailsResponseEnvelope'
        - type: object
          properties:
            response_type:
              type: string
              enum:
                - get-event-by-date
            status:
              type: integer
              enum:
                - 500
            metadata:
              allOf:
                - $ref: '#/components/schemas/EventDetailsMetadata'
                - type: object
                  properties:
                    event_uuid:
                      type: string
                      format: uuid
                    date_identifier:
                      type: string
                    lang:
                      type: string
                      example: en
                    event_date_count:
                      type: integer
                      minimum: 1
                      description: Number of further dates plus one, including when no selected
                        date exists.
                  required:
                    - event_uuid
                    - date_identifier
                    - lang
          required:
            - message
    EventDetails:
      type: object
      description: Fields with omitempty in the Go model are omitted when empty or nil.
      properties:
        uuid:
          type: string
          format: uuid
        release_status:
          type: string
          enum:
            - draft
            - review
            - released
            - cancelled
            - deferred
            - rescheduled
        content_language:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        summary:
          type: string
        source_link:
          type: string
        languages:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        org_uuid:
          type: string
          format: uuid
        org_name:
          type: string
        org_web_link:
          type: string
        org_logos:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Logo'
          nullable: true
          description: Logos keyed by image identifier, such as main_logo, light_theme_logo
            or dark_theme_logo.
        images:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Image'
          description: Images keyed by identifier, such as main, gallery1, gallery2 or gallery3.
        event_types:
          type: array
          items:
            $ref: '#/components/schemas/EventType'
        event_links:
          type: array
          items:
            $ref: '#/components/schemas/WebLink'
        date:
          allOf:
            - $ref: '#/components/schemas/EventDate'
          description: Selected event date; omitted when the event has no dates.
        further_dates:
          type: array
          items:
            $ref: '#/components/schemas/EventDate'
          description: All remaining dates, ordered by start date and time; omitted when empty.
        date_match:
          type: boolean
          description: False when a fallback date is selected. True when a requested date matches,
            or when the event has no dates.
        max_attendees:
          type: integer
        min_age:
          type: integer
        max_age:
          type: integer
        currency:
          type: string
        price_type:
          type: string
        min_price:
          type: number
          format: double
        max_price:
          type: number
          format: double
        ticket_flags:
          type: array
          items:
            type: string
            enum:
              - advance_ticket
              - presale_fee_applies
              - on_site_ticket_sales
              - reduced_price_available
        ticket_link:
          type: string
        visitor_info_flags:
          type: string
          description: Visitor information flags serialized as a string.
        participation_info:
          type: string
        meeting_point:
          type: string
        online_link:
          type: string
        registration_link:
[...]
