openapi: 3.0.3

info:
  title: Uranus API
  description: API for the Uranus / kulturbytes platform.
  version: '1.0'

servers:
  - url: https://api.kulturbytes.de
  - url: http://localhost:9090

paths:

  /api/choosable-states:
    get:
      operationId: getChoosableStates
      summary: Get choosable states
      description: |
        Returns all states or administrative regions for the specified country.

        State names are returned according to the data stored for the country.
        The country is selected using its country code.

        If no states are found for the specified country, the endpoint
        returns HTTP 200 with an empty data array.

      parameters:
        - name: country-code
          in: query
          required: false
          description: |
            Country code used to select the states or administrative regions.
            Defaults to an empty string.
          schema:
            type: string
            default: ''
            example: DEU

      responses:

        '200':
          description: States found, or no states available for the specified country.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope200'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of states or administrative regions.
                        items:
                          $ref: '#/components/schemas/State'
                    required:
                      - data

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: choosable-states
                status: 200
                timestamp: '2026-09-20T10:09:03Z'
                metadata:
                  country_code: DEU
                  state_count: 16
                  response_time_ms: 3
                data:
                  - state_code: BW
                    state_name: Baden-Württemberg
                  - state_code: BY
                    state_name: Bayern
                  - state_code: BE
                    state_name: Berlin
                  - state_code: BB
                    state_name: Brandenburg
                  - state_code: HB
                    state_name: Bremen

        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope500'
                  - type: object
                    properties:
                      data:
                        nullable: true

              example:
                service: Uranus API
                api_version: '1.0'
                response_type: choosable-states
                status: 500
                timestamp: '2026-09-20T10:09:03Z'
                metadata:
                  country_code: DEU
                  response_time_ms: 3
                data: null
                message: Internal server error


components:

  schemas:

    State:
      type: object
      description: A selectable state or administrative region.
      properties:
        state_code:
          type: string
          nullable: true
          description: Code identifying the state or administrative region.
          example: SH

        state_name:
          type: string
          nullable: true
          description: Name of the state or administrative region.
          example: Schleswig-Holstein

      required:
        - state_code
        - state_name

      additionalProperties: false


    ChoosableStatesMetadata:
      type: object
      description: Metadata returned by the choosable states endpoint.
      properties:

        country_code:
          type: string
          description: Country code used to select the states.
          example: DEU

        state_count:
          type: integer
          minimum: 0
          description: Number of states or administrative regions returned.
          example: 16

        response_time_ms:
          type: integer
          minimum: 0
          description: Server-side response time in milliseconds.
          example: 3

      additionalProperties: false


    ResponseEnvelope:
      type: object
      properties:

        service:
          type: string
          description: Name of the API service.
          example: Uranus API

        api_version:
          type: string
          description: API version.
          example: '1.0'

        response_type:
          type: string
          description: Identifier of the response type.
          example: choosable-states

        status:
          type: integer
          description: HTTP status code of the response.
          example: 200

        timestamp:
          type: string
          format: date-time
          description: Time at which the response was generated.
          example: '2026-09-20T10:09:03Z'

        metadata:
          $ref: '#/components/schemas/ChoosableStatesMetadata'

        data:
          nullable: true
          description: Response payload.

        message:
          type: string
          description: Human-readable response message.
          example: states found

      required:
        - service
        - api_version
        - response_type
        - status
        - timestamp

      additionalProperties: false


    ResponseEnvelope200:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelope'
        - type: object
          properties:
            status:
              type: integer
              enum:
                - 200
              example: 200


    ResponseEnvelope500:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelope'
        - type: object
          properties:
            status:
              type: integer
              enum:
                - 500
              example: 500