{{define "subject"}}kulturbytes – Nachricht{{end}}

{{define "footer"}}
<div class="legal">
    <p style="margin:0 0 8px 0;">
        DatenSindDaten e. V., Friesische Straße 41, 24937 Flensburg
    </p>

    <p style="margin:0;">
        <a href="https://kulturbytes.de/de/datenschutz"
           class="legal-link">
            Datenschutzerklärung
        </a>
        &nbsp;|&nbsp;
        <a href="https://kulturbytes.de/de/impressum"
           class="legal-link">
            Impressum
        </a>
    </p>
</div>
{{end}}